<!-- 
    POTRERO DIGITAL /// Curso de Desarrollo Web / Tramo Front End / TRABAJO PRÁCTICO FINAL
    Profesor: Emiliano PIAI / Alumno: Diego GUARAZ

    NOTAS:

    En todos los casos en que fue posible se usaron elementos y clases de bootstrap, usando estilos propios para
    diagramado general y personalización de los elementos.

    Hay casos en los que por la diagramación propia de los elementos de bootstrap no fue posible mantener al mínimo
    el uso de divs, pero se optó por usar mayormente los elementos incorporados en html para la diagramación.
-->

<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv='cache-control' content='no-cache'> 
        <meta http-equiv='expires' content='0'> 
        <meta http-equiv='pragma' content='no-cache'>

        <title>El módulo random en Python / Aprendiendo Python</title>
        <link rel="icon" href="favicon.ico">
        
        <!-- css bootstrap -->        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link href="../css/style.css" rel="stylesheet">
    </head>
    
    <body>
        
        <!-- encabezado -->
        <header>
            
            <!-- navbar bootstrap -->
            <nav class="navbar navbar-expand-lg bg-success fixed-top navbar-custom" data-bs-theme="dark">
                <div class="container-fluid">
                    
                    <!-- nombre e icono del sitio navbar -->
                    <h1 class="brand-h1-custom"><a class="navbar-brand" href="../../index.html">Aprendiendo Python <img src="../img/python.png" width="30" height="30" /></a></h1>
            
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <!-- items navbar -->
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="../../index.html">Inicio</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="../views/que_es_python.html#top">¿Qué es Python?</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="../views/contenido.html">Artículos</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="../views/curso_python.html">Curso de Python</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

            <!-- tarjeta bootstrap título art. -->
            <div class="card text-bg-dark card-custom card-big-custom card-img-big-custom">
                <img src="../img/carousel_03.jpg" class="card-img card-custom alt="image">
                
                <div class="card-img-overlay ">
                    <div class="card-img-overlay card-img-overlay-custom m-4">
                        <h2 class="card-title h1 h1-custom">El módulo [random] de Python</h2>
                        <p class="card-text fs-5 d-none d-md-block">Generando aleatoriedad en tus programas en Python</p>
                    </div>
                </div>
                
            </div>

        </header>

        <!-- contenido -->
        <div class="container">
            
            <!-- contenedor artículo -->
            <article>
                
                <!-- advertencia artículos -->
                <div class="alert alert-danger text-center article-img mx-auto" role="alert">
                    NOTA: Todos los enlaces *a artículos* redirigen a este artículo.
                </div>

                <!-- encabezado artículo -->                
                <div class="article-header d-flex">
                    
                    <!-- resumen artículo -->                
                    <div class="article-abstract">
                        
                        <!-- sección de art. -->
                        <h3 class="map-index" id="map-1">Introducción</h3>
                        
                        <p>El módulo random en Python es una biblioteca esencial que nos permite incorporar elementos de aleatoriedad y azar en nuestros programas. Desde juegos hasta aplicaciones de simulación, este módulo nos brinda las herramientas para generar números aleatorios, seleccionar elementos de manera aleatoria y barajar listas. En este artículo, profundizaremos en los conceptos y funcionalidades del módulo random, y proporcionaremos ejemplos de código para que los principiantes puedan comenzar a utilizarlo de manera efectiva.</p>
                    </div>
                
                    <!-- índice artículo -->
                    <div class="article-map">
                        <div class="card article-map-bg">
                            <h5>Índice</h5>
                            
                            <ol>
                                <li><a href="#map-1">Introducción</a></li>
                                <li><a href="#map-2">Generando Números Aleatorios</a></li>
                                <li><a href="#map-3">Selección Aleatoria de Elementos en una Lista</a></li>
                                <li><a href="#map-4">Barajando Elementos en una Lista</a></li>
                                <li><a href="#map-5">Creando Contraseñas Aleatorias y Seguras</a></li>
                                <li><a href="#map-6">Juego de Adivinar el Número</a></li>
                                <li><a href="#map-7">Conclusión</a></li>
                            </ol>
                        </div>
                    </div>

                </div>
                
                <!-- contenedor imagen, etc. -->
                <div class="media-container">
                    <img src="../img/articulo_01_02.jpg" alt="" class="article-img mx-auto d-block">
                    
                    <!-- pie de imagen -->
                    <div class="figure-caption figure-caption-custom text-center mx-auto">
                        El módulo <span class="code">random</span> nos permite aplicar diversas funciones para trabajar con la aleatoriedad en nuestros programas.
                    </div>
                </div>
                
                <!-- sección de art. -->
                <h3 class="map-index" id="map-2">Generando Números Aleatorios</h3>
                
                <p>El primer paso para utilizar el módulo random es importarlo en nuestro código. Luego, podemos generar números aleatorios enteros mediante la función <span class="code">randint()</span>. Esta función toma dos argumentos, el valor mínimo y máximo del rango en el cual deseamos generar el número aleatorio. Por ejemplo:</p>
                
                <!-- bloque de código -->
                <p class="code-block mx-auto d-block">import random
                    
                    numero_aleatorio = random.randint(1, 100)
                    print("Número aleatorio entre 1 y 100:", numero_aleatorio)</p>
                
                <!-- sección de art. -->
                <h3 class="map-index" id="map-3">Selección Aleatoria de Elementos en una Lista</h3>
                
                <p>Otra característica útil del módulo random es la capacidad de seleccionar elementos aleatorios de una lista. Esto puede ser muy útil en situaciones como juegos de cartas, donde necesitamos barajar un mazo. Para seleccionar un elemento aleatorio de una lista, podemos utilizar la función <span class="code">choice()</p>
                
                <!-- bloque de código -->
                <p class="code-block mx-auto d-block">import random
                    
                    cartas = ["As", "2", "3", "4", "5", "6", "7", "8", "9", "10", "J", "Q", "K"]
                    carta_aleatoria = random.choice(cartas)
                    print("Carta seleccionada aleatoriamente:", carta_aleatoria)</p>
                
                <!-- sección de art. -->
                <h3 class="map-index" id="map-4">Barajando Elementos en una Lista</h3>
                
                <p>Para barajar los elementos de una lista en un orden aleatorio, utilizamos la función <span class="code">shuffle()</span>. Esto es especialmente útil para juegos de cartas o cuando necesitamos ordenar elementos de manera aleatoria.</p>
                
                <!-- bloque de código -->
                <p class="code-block mx-auto d-block">import random
                    
                    baraja = ["As", "2", "3", "4", "5", "6", "7", "8", "9", "10", "J", "Q", "K"]
                    random.shuffle(baraja)
                    print("Baraja barajada:", baraja)</p>
                
                <!-- sección de art. -->
                <h3 class="map-index" id="map-5">Creando Contraseñas Aleatorias y Seguras</h3>
                
                <p>En muchos escenarios de desarrollo de software, se requiere la generación de contraseñas seguras. El módulo random en combinación con la biblioteca <span class="code">string</span> puede ser utilizado para crear contraseñas aleatorias que incluyan caracteres alfanuméricos y especiales.</p>
                
                <!-- bloque de código -->
                <p class="code-block mx-auto d-block">import random
                    import string
                    
                    longitud = 12
                    caracteres = string.ascii_letters + string.digits + string.punctuation
                    contrasena = ''.join(random.choice(caracteres) for i in range(longitud))
                    print("Contraseña generada:", contrasena)</p>
                
                <!-- sección de art. -->
                <h3 class="map-index" id="map-6">Juego de Adivinar el Número</h3>
                
                <p>Utilizando el módulo random, podemos crear un juego simple donde la computadora genera un número secreto y el jugador tiene que adivinarlo.</p>
                
                <!-- bloque de código -->
                <p class="code-block mx-auto d-block">import random
                    
                    numero_secreto = random.randint(1, 100)
                    
                    while True:
                    &nbsp;intento = int(input("Adivina el número (1-100): "))
                    
                    &nbsp;if intento == numero_secreto:
                    &nbsp;&nbsp;print("¡Felicidades! ¡Adivinaste el número!")
                    &nbsp;&nbsp;break
                    &nbsp;elif intento < numero_secreto:
                    &nbsp;&nbsp;print("El número es más grande. Intenta nuevamente.")
                    &nbsp;else:
                    &nbsp;&nbsp;print("El número es más pequeño. Intenta nuevamente.")</p>
                
                
                <!-- sección de art. -->
                <h3 class="map-index" id="map-7">Conclusión</h3>
                
                <p>El módulo random de Python es una herramienta poderosa y versátil para agregar aleatoriedad y azar en nuestros programas. A través de ejemplos detallados, hemos aprendido cómo generar números aleatorios, seleccionar elementos de listas de manera aleatoria, barajar elementos y crear contraseñas seguras. Estas habilidades son esenciales para desarrollar juegos, aplicaciones de simulación y cualquier programa que requiera elementos de imprevisibilidad. ¡Esperamos que este artículo te haya dado una visión más profunda del módulo random y te motive a experimentar y explorar más con esta emocionante funcionalidad en tus proyectos de Python!</p>

                <!-- enlace a home -->
                <p class="go-back fs-5 text-center"><a href="../../index.html"><img src="../img/python.png" width="30" height="30" /></a> <a href="../../index.html">« Volver al inicio</a></p>

            </article>
            
            <!-- barra lateral -->
            <aside>

                <!-- tarjeta bootstrap -->
                <div class="card card-custom card-side">
                    <h5 class="card-title">¿Qué es Python?</h5>
                    <p class="card-text">Exploremos el fascinante mundo de Python, un lenguaje de programación poderoso y fácil de usar. Descubrí por qué es tan popular entre los programadores y cómo facilita la creación de diversas aplicaciones.</p>
                    <a href="../views/que_es_python.html#top" class="card-link">Continuar leyendo ></a>
                </div>

                <!-- tarjeta bootstrap anuncio -->
                <div class="card advert text-bg-light">
                    <div class="card-header bg-py">
                        Curso Online Gratis!
                    </div>
                    
                    <div class="card-body">
                        <h5 class="card-title">Introducción a Python <br /> Para Principiantes</h5>
                        <p class="card-text">A tu tiempo y en tus horarios aprendé la sintaxis básica, variables, estructuras de control, manejo de datos, funciones y operaciones con archivos. Adquirí habilidades sólidas en Python para enfrentar desafíos de programación con confianza.</p>
                        
                        <div class="col-md-12 text-end">
                            <a class="btn btn-sm btn-success ms-auto" href="../views/curso_python.html">Inscribite ahora!</a>
                        </div>
                    </div>
                </div>

                <!-- tarjeta bootstrap relacionados -->
                <div class="card card-custom card-side">
                    <h5 class="card-title">Te puede interesar</h5>

                    <div class="related">
                        
                        <h6 class="card-title"><a href="../views/articulo_01.html">Pandas: Data Science en Python</a></h6>
                        <p class="card-text">Pandas es sin duda el paquete más importante de Python utilizado para Data Science. No solo ofrece muchos métodos y...</p>
                    </div>

                    <div class="related">
                        <h6 class="card-title"><a href="../views/articulo_01.html">Juego de la víbora (Snake) con Pygame</a></h6>
                        <p class="card-text">En este tutorial aprenderemos cómo hacer una version del juego de la viborita que la mayoría jugamos, ese que venia con el Nokia en los 2000...</p>
                    </div>

                    <div class="related">
                        <h6 class="card-title"><a href="../views/articulo_01.html">Tipos de datos de Python</a></h6>
                        <p class="card-text">Los tipos de datos de Python no son más que una clasificación de valores de datos similares. En Python, no declaramos explícitamente el tipo de datos...</p>
                    </div>

                </div>
                
                <!-- ver más art. -->
                <p class="d-grid col-6 mx-auto"><a class="btn btn-sm btn-success" href="../views/contenido.html">Ver más artículos</a></p>
            
            </aside>
            
        </div>

        <!-- pie de página -->
        <footer>
            <a href="#top"><img src="../img/python.png" width="50" height="50" title="Volver al comienzo de la página" /></a>
            
            <div class="signature">
                <p>Diego Guaraz para <a href="https://www.potrerodigital.org/">Potrero Digital</a></p>
                <p>Desarrollo Web Front End (Prof. Emiliano Piai)</p>
                <p>Mar del Plata, Julio 2023</p>
            </div>
        </footer>

        <!-- js bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    
    </body>
</html>