<!-- 
    POTRERO DIGITAL /// Curso de Desarrollo Web / Tramo Front End / TRABAJO PRÁCTICO FINAL
    Profesor: Emiliano PIAI / Alumno: Diego GUARAZ
-->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TITULO / Aprendiendo Python</title>
        <link rel="icon" href="favicon.ico">
        
        <!-- css bootstrap -->        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link href="../css/style.css" rel="stylesheet">
    </head>
    
    <body>
        
        <!-- encabezado -->
        <header>
            
            <!-- navbar bootstrap -->
            <nav class="navbar navbar-expand-lg bg-success fixed-top navbar-custom" data-bs-theme="dark">
                <div class="container-fluid">
                    <h1 class="brand-h1-custom"><a class="navbar-brand" href="../../index.html">Aprendiendo Python <img src="../img/python.png" alt="Python icon" width="30" height="30" /></a></h1>
            
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="../../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/que_es_python.html">¿Qué es Python?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="../views/contenido.html">Artículos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/curso_python.html">Curso de Python</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="card text-bg-dark card-custom card-big-custom card-img-main-custom">
                <img src="../img/reticulated-python.jpg" class="card-img card-custom alt="...">
                <!--
                <div class="card-img-overlay">
                    <div class="card-img-overlay card-img-overlay-custom m-4">
                        <h2 class="card-title fs-3"><a href="">Card title</a></h2>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                -->
            </div>


        </header>

        <!-- contenido -->
        <div class="container">
            
            <!-- contenedor artículos -->
            <main>
                
                <!-- contenedor grid responsive artículo -->
                

            </main>
            
            <!-- barra lateral -->
            <aside>

                <!-- intro python -->
                <div class="card card-custom padding-custom">
                    <h5 class="card-title">¿Qué es Python?</h5>
                    <p class="card-text margin-custom">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="../views/que_es_python.html" class="card-link">Continuar leyendo ></a>
                </div>

                <!-- anuncio curso -->
                <div class="card advert text-bg-light">
                    <div class="card-header p-2  text-bg-warning">
                        Próximamente!
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Curso Online de Python</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="col-md-12 text-end">
                            <a class="btn btn-sm btn-success ms-auto" href="../views/curso_python.html">Inscribite ahora!</a>
                        </div>
                    </div>
                </div>

                <!-- artículos relacionados -->
                <div class="card card-custom padding-custom margin-custom">
                    <h5 class="card-title">Te puede interesar</h5>

                    <div class="related">
                        <h6 class="card-title"><a href="../views/articulo_01.html">Card title</a></h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <span class="margin-custom"></span>
                </div>
                
            </aside>
            
        </div>

        <!-- pie de página -->
        <footer>
            <img src="../img/python.png" width="50" height="50"/>
            
            <div class="signature">
                <p>Diego Guaraz para <a href="https://www.potrerodigital.org/">Potrero Digital</a></p>
                <p>Desarrollo Web Front End (Prof. Emiliano Piai)</p>
                <p>Mar del Plata, Julio 2023</p>
            </div>
        </footer>    

        <!-- js bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    
    </body>
</html>