<!-- 
    POTRERO DIGITAL /// Curso de Desarrollo Web / Tramo Front End / Trabajo Práctico Final
    Profesor: Emiliano PIAI / Alumno: Diego GUARAZ
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="public/css/style.css" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
    <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>
    <title>TITULO / Aprendiendo Python</title>
</head>

<body>
    <header>
        <h1>Aprendiendo Python</h1>
            <h2>Noticias y recursos para principiantes en el lenguaje del momento para Data Science, Desarrollo Web, Creación de Videojuegos (y más!)</h2>
    </header>

    <nav>

    </nav>

    <aside>

    </aside>

    <section>

    </section>

    <footer>
        
    </footer>
    <script src=”https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js” integrity=”sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo” crossorigin=”anonymous”></script>

    <script src=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js” integrity=”sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/” crossorigin=”anonymous”></script>
</body>

</html>