<!-- 
    POTRERO DIGITAL /// Curso de Desarrollo Web / Tramo Front End / TRABAJO PRÁCTICO FINAL
    Profesor: Emiliano PIAI / Alumno: Diego GUARAZ

    NOTAS:

    En todos los casos en que fue posible se usaron elementos y clases de bootstrap, usando estilos propios para
    diagramado general y personalización de los elementos.

    Hay casos en los que por la diagramación propia de los elementos de bootstrap no fue posible mantener al mínimo
    el uso de divs, pero se optó por usar mayormente los elementos incorporados en html para la diagramación.
-->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Curso "Introducción a Python Para Principiantes" / Aprendiendo Python</title>
        <link rel="icon" href="favicon.ico">
        
        <!-- css bootstrap -->        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link href="../css/style.css" rel="stylesheet">
    </head>
    
    <body>
        
        <!-- encabezado -->
        <header>
            
            <!-- navbar bootstrap -->
            <nav class="navbar navbar-expand-lg bg-success fixed-top navbar-custom" data-bs-theme="dark">
                <div class="container-fluid">
                    
                    <!-- nombre e icono del sitio navbar -->
                    <h1 class="brand-h1-custom"><a class="navbar-brand" href="../../index.html">Aprendiendo Python <img src="../img/python.png" width="30" height="30" /></a></h1>
            
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <!-- items navbar -->
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="../../index.html">Inicio</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="../views/que_es_python.html#top">¿Qué es Python?</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="../views/contenido.html">Artículos</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link active" href="../views/curso_python.html">Curso de Python</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

            <!-- tarjeta bootstrap título art -->
            <div class="card text-bg-dark card-custom card-big-custom card-img-main-custom">
                <img src="../img/curso_de_python_01.jpg" class="card-img card-custom alt="...">
                
                <div class="card-img-overlay width-custom">
                
                    <div class="card-img-overlay card-img-overlay-custom m-4">
                        
                        <h2 class="card-title h1 h1-custom">Introducción a Python
                            Para Principiantes</h2>
                            
                            <p class="card-text fs-5"><span class="subtitle">Curso Online Gratis!</span></p>
                    </div>
                </div>
            </div>

        </header>

        <!-- contenido -->
        <div class="container">
            
            <!-- contenedor artículo -->
            <article>
                
                <h2 class="h4">Entrando al Mundo de la Programación a través de Python</h2>
                    
                <p>Hoy queremos compartir con vos una gran oportunidad para que emepices a dar los primeros pasos en el mundo de la programación: nuestro curso <strong>"Introducción a Python Para Principiantes"</strong>.</p>
                
                <h4 class="h5">¿Por qué Python?</h4>
                  
                <p>Antes de sumergirnos en los detalles del curso y por si no leíste nuestro artículo <a href="../views/que_es_python.html#top">"¿Qué es Python?"</a>, este lenguaje de programación es conocido por su sintaxis clara y sencilla, lo que lo convierte en un lenguaje amigable para principiantes. Además, su amplia comunidad y la cantidad de recursos disponibles facilitan el aprendizaje y la resolución de dudas.</p>
                  
                <h3 class="h4">¿Qué abarca el curso?</h3>
                
                <p>Nuestro curso <strong>"Introducción a Python Para Principiantes"</strong> es un viaje emocionante donde descubriremos todos los aspectos esenciales para comenzar a programar. Aquí hay un adelanto de lo que cubriremos:</p>
                  
                <!-- listado temas -->
                <div class="article-map-bg article-img mx-auto rounded fs-6 p-2 pe-5 ps-3 mb-3">
                  
                  <ul>
                    <li>
                      <h5 class="h6">Abriendo la puerta a la programación:</h5>
                      <ul>
                        <li>Conoceremos los conceptos fundamentales de la programación y cómo Python se ajusta perfectamente a este maravilloso mundo.</li>
                        <li>Aprenderemos a configurar nuestro entorno de desarrollo para empezar a escribir código sin problemas.</li>
                      </ul>
                    </li>
                    
                    <li>
                      <h5 class="h6">Los cimientos de Python:</h5>
                      <ul>
                        <li>Nos sumergiremos en la sintaxis básica de Python, desde cómo declarar variables hasta el uso de operadores.</li>
                        <li>Dominaremos las estructuras de control, como los condicionales (if/else) y bucles (for/while), para tomar decisiones y repetir acciones.</li>
                      </ul>
                    </li>
                    
                    <li>
                      <h5 class="h6">Explorando el mundo de los datos:</h5>
                      <ul>
                        <li>Descubriremos cómo manejar listas y tuplas, y cómo acceder a sus elementos para organizar datos.</li>
                        <li>Aprenderemos sobre los diccionarios, una poderosa herramienta para almacenar información y acceder a ella mediante claves.</li>
                      </ul>
                    </li>
                    
                    <li>
                      <h5 class="h6">Programación orientada a objetos:</h5>
                      <ul>
                        <li>Nos adentraremos en el paradigma de la Programación Orientada a Objetos (POO) y cómo Python lo soporta.</li>
                        <li>Crearemos nuestras propias clases y objetos, y utilizaremos métodos y atributos para dar vida a nuestros programas.</li>
                      </ul>
                    </li>
                    
                    <li>
                      <h5 class="h6">Hagamos cosas interesantes con Python</h5>
                      <ul>
                        <li>Descubriremos cómo leer y escribir archivos de texto, lo que nos permitirá trabajar con datos externos.</li>
                        <li>Exploraremos módulos y bibliotecas para ampliar las capacidades de Python y hacer cosas increíbles con tan solo unas pocas líneas de código.</li>
                      </ul>
                    </li>
                    
                    <li>
                      <h5 class="h6">Conquistando la web con Python:</h5>
                      <ul>
                        <li>Introducción a la programación web y cómo Python puede interactuar con páginas web a través de solicitudes HTTP.</li>
                        <li>¡Haremos nuestros primeros pasos en el desarrollo web!</li>
                      </ul>
                    </li>
                    
                    <li>
                      <h5 class="h6">Proyecto final: La culminación de nuestro camino</h5>
                      <p>Como broche de oro, pondremos en práctica todo lo aprendido para desarrollar un emocionante proyecto usando Python.</p>
                    </li>
                  </ul>
                  
                </div>

                <h3 class="h4">Unite a la aventura</h3>

                <p>Si estás listo para adentrarte en el apasionante mundo de la programación, nuestro curso <strong>"Introducción a Python Para Principiantes"</strong> es perfecto para vos. Aprendé los fundamentos de Python y descubrí cómo utilizar este lenguaje versátil para resolver diversos desafíos. Sin necesidad de experiencia previa, te guiamos en un recorrido gradual y práctico, desde estructuras de datos hasta la interacción con la web. Unite a nuestra comunidad de aprendizaje y descubrí el potencial creativo de Python.</p>
                
                <!-- formulario inscripción -->
                <div class="article-map-bg article-img mx-auto rounded p-4 pt-3 mb-3">
                    <h5>Completá el formulario y nos pondremos en contacto con vos!</h5>

                    <form action="" method="POST" enctype="multipart/form-data">
                        
                        <label for="exampleFormControlInput1" class="form-label required mt-3">Nombre</label>
                        <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Andrea Martínez">
                    
                        <label for="exampleFormControlInput1" class="form-label required">Dirección de e-mail</label>
                        <input type="email" class="form-control mb-3" id="exampleFormControlInput1" placeholder="andreamartinez@email.com">
                    
                    
                        <label for="exampleFormControlTextarea1" class="form-label">Algo que quieras decirnos o consultarnos en relación al curso?</label>
                        <textarea class="form-control mb-2" id="exampleFormControlTextarea1" rows="3"></textarea>

                        <p id="required-info">Los campos señalados con * son requeridos</p>

                        <button type="submit" class="btn btn-success">Enviar!</button>
                    
                    </form>
                </div>
                
                <!-- enlace a home -->
                <p class="go-back fs-5 text-center"><a href="../../index.html"><img src="../img/python.png" width="30" height="30" /></a> <a href="../../index.html">« Volver al inicio</a></p>
            
            </article>
            
            <!-- barra lateral -->
            <aside>

                <!-- tarjeta bootstrap -->
                <div class="card card-custom card-side">
                    <h6 class="card-title">¿Qué es Python?</h5>
                    <p class="card-text margin-custom">Exploremos el fascinante mundo de Python, un lenguaje de programación poderoso y fácil de usar. Descubrí por qué es tan popular entre los programadores y cómo facilita la creación de diversas aplicaciones.</p>
                    <a href="../views/que_es_python.html#top" class="card-link">Continuar leyendo ></a>
                </div>

                <!-- separador invisible :-/ -->
                <div class="card card-custom card-side"><span></span></div>
                
                <!-- tarjeta bootstrap -->
                <div class="card card-custom card-side">
                    <h6 class="card-title">Te puede interesar</h5>

                    <div class="related">
                        <h6 class="card-title"><a href="../views/articulo_01.html">PDF a JPG: Cómo convertir un archivo usando Python</a></h5>
                        <p class="card-text">Hay muchas herramientas disponibles en Internet para convertir un PDF a JPG. En este artículo, vamos a escribir código para...</p>
                    </div>

                    <div class="related">
                        
                        <h6 class="card-title"><a href="../views/articulo_01.html">Pandas: Data Science en Python</a></h5>
                        <p class="card-text">Pandas es sin duda el paquete más importante de Python utilizado para Data Science. No solo ofrece muchos métodos y...</p>
                    </div>

                    <div class="related">
                        <h6 class="card-title"><a href="../views/articulo_01.html">Ejercicios con <span class="code">for</span> en Python</a></h5>
                        <p class="card-text">A veces, los programas necesitan repetir acciones. Para repetir acciones podemos usar el bucle for en Python. Un bucle for...</p>
                    </div>

                </div>
                
                <!-- ver más art. -->
                <p class="d-grid col-6 mx-auto"><a class="btn btn-sm btn-success" href="../views/contenido.html">Ver más artículos</a></p>

            </aside>
            
        </div>

        <!-- pie de página -->
        <footer>
            <a href="#top"><img src="../img/python.png" width="50" height="50" title="Volver al comienzo de la página" /></a>
            
            <div class="signature">
                <p>Diego Guaraz para <a href="https://www.potrerodigital.org/">Potrero Digital</a></p>
                <p>Desarrollo Web Front End (Prof. Emiliano Piai)</p>
                <p>Mar del Plata, Julio 2023</p>
            </div>
        </footer>

        <!-- js bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    
    </body>
</html>