<!-- 
    POTRERO DIGITAL /// Curso de Desarrollo Web / Tramo Front End / TRABAJO PRÁCTICO FINAL
    Profesor: Emiliano PIAI / Alumno: Diego GUARAZ
-->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TITULO / Aprendiendo Python</title>
        <link rel="icon" href="favicon.ico">
        
        <!-- css bootstrap -->        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link href="../css/style.css" rel="stylesheet">
    </head>
    
    <body>
        
        <!-- encabezado -->
        <header>
            
            <!-- navbar bootstrap personalizado -->
            <nav class="navbar navbar-expand-lg bg-success fixed-top navbar-custom" data-bs-theme="dark">
                <div class="container-fluid">
                    
                    <!-- nombre e icono del sitio navbar -->
                    <h1 class="brand-h1-custom"><a class="navbar-brand" href="../../index.html">Aprendiendo Python <img src="../img/python.png" width="30" height="30" /></a></h1>
            
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <!-- items navbar -->
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="../../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/que_es_python.html#top">¿Qué es Python?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/contenido.html">Artículos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/curso_python.html">Curso de Python</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

            <div class="card text-bg-dark card-custom card-big-custom card-img-main-custom">
                <img src="../img/img_001.jpg" class="card-img card-custom alt="...">
                
                <div class="card-img-overlay">
                
                    <div class="card-img-overlay card-img-overlay-custom m-4">
                        <h2 class="card-title h1">¿Qué es Python?</h2>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                
            </div>


        </header>

        <!-- contenido -->
        <div class="container">
            
            <!-- contenedor artículos -->
            <article>
                
                <!-- contenedor grid responsive artículo -->
                
                

                <div class="article-header d-flex">
                    
                    
                    <div class="article-abstract">
                        <h3 id="map-1">Introducción</h3>
                        <p>Python es un lenguaje de programación interpretado y de alto nivel, conocido por su legibilidad y simplicidad. Fue creado por Guido van Rossum y lanzado por primera vez en 1991. Desde entonces, Python ha ganado una enorme popularidad en la comunidad de desarrollo debido a su sintaxis clara y fácil de entender, lo que permite a los programadores expresar conceptos en menos líneas de código que otros lenguajes.</p>
                    </div>
                
                    <div class="article-map">
                        <div class="card article-map-bg">
                            <h5>Índice</h5>
                            <ol>
                                <li><a href="#map-1">Introducción</a></li>
                                <li><a href="#map-2">¿Para qué se usa Python?</a></li>
                                <li><a href="#map-3">Aprender Python</a></li>
                                <li><a href="#map-4">Python y la industria IT</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                <div class="media-container">
                    <img src="../img/img_001.jpg" alt="" class="article-img mx-auto d-block">
                    <div class="figure-caption figure-caption-custom text-center mx-auto">
                        Además, Python es un lenguaje interpretado, lo que significa que los programas se ejecutan línea por línea en lugar de requerir una compilación previa.
                    </div>
                </div>
                
                <h3 id="map-2">¿Para qué se usa Python?</h3>
                
                <p>Python se utiliza en una amplia variedad de aplicaciones, lo que lo convierte en uno de los lenguajes más versátiles disponibles. Sus características y bibliotecas hacen que sea ideal para múltiples propósitos:</p>
                
                <ul>
                    <li>
                        <strong>Desarrollo web:</strong> Python es ampliamente utilizado para crear aplicaciones web y servidores. Frameworks populares como Django y Flask permiten construir sitios web robustos y escalables. La simplicidad de Python permite que los equipos de desarrollo trabajen de manera más rápida y eficiente.
                    </li>
                    <li>
                        <strong>Análisis de datos:</strong> Python ofrece numerosas bibliotecas poderosas para el análisis y visualización de datos, como Pandas, NumPy y Matplotlib. Su facilidad para manejar estructuras de datos y operaciones matemáticas lo convierten en una opción popular entre científicos de datos y analistas.
                    </li>
                    <li>
                        <strong>Inteligencia Artificial y Aprendizaje Automático:</strong> Con bibliotecas como TensorFlow y PyTorch, Python es ampliamente utilizado en el desarrollo de modelos de IA y algoritmos de aprendizaje automático. La comunidad activa de Python contribuye con avances en el campo de la IA.
                    </li>
                    <li>
                        <strong>Automatización:</strong> Python permite automatizar tareas repetitivas y complejas, lo que lo convierte en una excelente opción para scripting y administración de sistemas. Su sintaxis sencilla facilita la escritura y el mantenimiento de scripts.
                    </li>
                    <li>
                        <strong>Desarrollo de videojuegos:</strong> Python es utilizado en el desarrollo de videojuegos, especialmente para prototipos rápidos y desarrollo de herramientas. Su uso en el desarrollo de videojuegos se ha popularizado gracias a librerías como Pygame.
                    </li>
                    <li>
                        <strong>Aplicaciones de escritorio:</strong> Python es una opción viable para desarrollar aplicaciones de escritorio con interfaces gráficas de usuario. La biblioteca Tkinter incluida en la mayoría de las instalaciones de Python facilita el diseño de interfaces gráficas.
                    </li>
                    <li>
                        <strong>Internet de las cosas (IoT):</strong> Python es una opción popular para proyectos de IoT, ya que permite interactuar con hardware y sensores de manera sencilla. Además, MicroPython, una versión adaptada para dispositivos con recursos limitados, se ha vuelto muy útil en este campo.
                    </li>
                </ul>
                
                <blockquote class="card blockquote blockquote-custom mx-auto">
                    <p><em>Python es un lenguaje poderoso y versátil que se adapta a una amplia gama de proyectos, desde aplicaciones web hasta análisis de datos y desarrollo de inteligencia artificial. Su comunidad activa y su amplia gama de bibliotecas hacen que sea una elección inteligente para muchos desarrolladores en todo el mundo.</em></p>
                </blockquote>
                
                <h3 id="map-3">Aprender Python</h3>

                <p>Python es conocido por ser un lenguaje de programación amigable y accesible para principiantes. Su diseño elegante y su sintaxis clara hacen que sea más fácil de leer y escribir en comparación con otros lenguajes más verbosos. Esto es especialmente beneficioso para aquellos que están dando sus primeros pasos en el mundo de la programación, ya que les permite concentrarse en comprender conceptos fundamentales en lugar de lidiar con la complejidad sintáctica.</p>

                <p>Además, Python es un lenguaje interpretado, lo que significa que los programas se ejecutan línea por línea en lugar de requerir una compilación previa. Esto permite a los nuevos programadores probar y corregir errores más rápidamente, lo que agiliza el proceso de aprendizaje y desarrollo. Los mensajes de error generados por Python suelen ser claros y útiles, lo que facilita la identificación y corrección de errores en el código.</p>

                <div class="media-container">
                    <iframe class="m-2 mx-auto" src="https://trinket.io/embed/python/1ad6cca83c" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
                    
                    <div class="figure-caption figure-caption-custom text-center mx-auto">Además, Python es un lenguaje interpretado, lo que significa que los programas <span class="code">se ejecutan línea por línea en lugar de requerir una</span> compilación previa. </div>
                </div>
                
                <p>Otro aspecto que hace que Python sea ideal para principiantes es su amplia comunidad de desarrolladores y abundante documentación. Hay una gran cantidad de tutoriales, cursos en línea y recursos disponibles, lo que facilita el acceso a información y la resolución de problemas. Los principiantes pueden obtener ayuda fácilmente en foros y comunidades en línea donde otros desarrolladores más experimentados están dispuestos a responder preguntas y brindar orientación.</p>
                
                <h3 id="map-4">Python y la industria IT</h3>
                
                <p>Además de su facilidad de aprendizaje, Python ha ganado una gran popularidad en la industria en los últimos años. Grandes empresas como Google, Facebook, Amazon y Microsoft lo utilizan en sus productos y servicios. Su versatilidad y amplia gama de bibliotecas lo hacen ideal para resolver una variedad de desafíos tecnológicos.</p>
                
                <div class="media-container">
                    <img src="../img/img_001.jpg" alt="" class="article-img mx-auto d-block">
                    <div class="figure-caption figure-caption-custom text-center mx-auto">Además, Python es un lenguaje interpretado, lo que significa que los programas se ejecutan línea por línea en lugar de requerir una compilación previa. </div>
                </div>

                <p>Las perspectivas de crecimiento para Python son muy prometedoras. A medida que la inteligencia artificial y el aprendizaje automático se vuelven más prominentes, la demanda de programadores de Python está en aumento. Python se ha convertido en el lenguaje preferido para el desarrollo de aplicaciones de aprendizaje automático y análisis de datos, lo que ha llevado a un aumento significativo en las oportunidades laborales para aquellos con experiencia en Python.</p>
                
                <p>Además, Python ha demostrado ser una excelente opción para el desarrollo web y la infraestructura en la nube. La comunidad activa de Python continúa desarrollando nuevas bibliotecas y frameworks, garantizando que Python se mantenga relevante y actualizado con las últimas tendencias tecnológicas.</p>
                
                <p>En resumen, aprender Python puede ser una decisión valiosa y gratificante. Su facilidad de aprendizaje, su amplio uso en la industria y sus sólidas perspectivas de crecimiento hacen que valga la pena invertir tiempo en aprenderlo. Python es una herramienta poderosa y versátil que puede abrir muchas puertas en el mundo laboral y permitir a los desarrolladores abordar una amplia gama de proyectos y desafíos tecnológicos.</p>
                             
                <blockquote class="card blockquote blockquote-custom mx-auto text-center">
                    <h4><a href="../views/curso_python.html">¡Aprendé Python y desbloqueá un mundo de posibilidades!</a></h4>
                </blockquote>

            </article>
            
            <!-- barra lateral -->
            <!-- barra lateral -->
            <aside>

                <!-- tarjeta bootstrap personalizada -->
                <div class="card card-custom card-side">
                    <h5 class="card-title">¿Qué es Python?</h5>
                    <p class="card-text margin-custom">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="../views/que_es_python.html#top" class="card-link">Continuar leyendo ></a>
                </div>

                <!-- tarjeta bootstrap personalizada -->
                <div class="card advert text-bg-light">
                    <div class="card-header bg-py">
                        Próximamente!
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Curso Online de Python</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        
                        <div class="col-md-12 text-end">
                            <a class="btn btn-sm btn-success ms-auto" href="../views/curso_python.html">Inscribite ahora!</a>
                        </div>
                    </div>
                </div>

                
                <!-- tarjeta bootstrap personalizada -->
                <div class="card card-custom card-side">
                    <h5 class="card-title">Te puede interesar</h5>

                    <div class="related">
                        <h6 class="card-title"><a href="../views/articulo_01.html">Card title</a></h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                
                <!-- botón / enlace bootstrap -->
                <p class="d-grid col-6 mx-auto"><a class="btn btn-sm btn-success" href="../views/contenido.html">Ver más artículos</a></p>

            </aside>
            
        </div>

        <!-- pie de página -->
        <footer>
            <a href="#top"><img src="../img/python.png" width="50" height="50" title="Volver al comienzo de la página" /></a>
            
            <div class="signature">
                <p>Diego Guaraz para <a href="https://www.potrerodigital.org/">Potrero Digital</a></p>
                <p>Desarrollo Web Front End (Prof. Emiliano Piai)</p>
                <p>Mar del Plata, Julio 2023</p>
            </div>
        </footer>

        <!-- js bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    
    </body>
</html>