@media (min-width: 800px) {
    .navbar-custom {
        padding-left: 5%;
        padding-right: 5%;
    }    
}

@media (min-width: 850px) {
    .carousel-custom-size {
        width: 850px;
    }    

    .carousel-custom-align {
        margin-left: auto;
        margin-right: auto;
    }    
}

.carousel-custom a {
    text-decoration: none;
    color:white;
}

.container {
    background-color: yellow;
    width: 90%;
}

body {
    background-color: green;
}

header {
    


    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
}

.header-image {
    background-image: url(“cat.jpg”);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    }

section {
    background-color: brown;
}

footer {
    text-align: center;
    background-color: blueviolet;
}

aside {
    background-color: chocolate;
}

@media (max-width: 560px) {
    iframe {
        width: 100%;
        height: 315px;
    }
}

.foot {margin-bottom: 0;}