.navbar-custom {
        padding-left: 3%;
        padding-right: 3%;
    }    

.title {
    font-size: larger;
    font-weight:600;
    margin: 0;
}


@media (min-width: 800px) {
    .carousel-custom {
        width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
}

.carousel-custom a {
    text-decoration: none;
    color:white;
}

.container {
    background-color: yellow;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

body {
    background-color: green;
}

header {
    background-image: url(_pattern.png);
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 56px;
}

main {
    background-color: brown;
}

footer {
    background-image: url(_pattern.png);
    text-align: center;
    background-color: blueviolet;
}

aside {
    background-color: chocolate;
}

/* Styles for larger screens */
@media (min-width: 1000px) {
    main {
      width: 75%;
    }
  
    aside {
      width: 25%; /* 20% of the container width */
    }

    iframe {
        width: 100%;
        height: auto;
    }
}
  
/* Styles for smaller screens */
@media (max-width: 1100px) {
    main, aside {
      flex-basis: 100%; /* Both blocks take the full width of the container */
    }

    iframe {
        width: 100%;
    }
}

.foot {margin-bottom: 0;}


/* responsive grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    grid-gap: 0; /* Adjust the gap between the items */
}
  
.main-block {
    grid-column: 1 / span 2; /* Span the big block across two columns */
    background-color: #ffcc00; /* Yellow background for the big block */
}
  
.side-block {
    background-color: #33cc33; /* Green background for the small blocks */
}
  
@media (min-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Four equal-width columns */
    }

    .main-block {
        grid-column: span 2; /* The big block will span two columns */
    }

    .side-block {
        grid-column: span 1; /* Each small block will span one column */
    }
} 




.pagination > li > a
{
    background-color: white;
    color: #198754;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #198754 !Important;
    border: solid 1px #198754 !Important;
}

.pagination > .active > a:hover
{
    background-color: #198754 !Important;
    border: solid 1px #198754;
}